body {
    background-image: url("../Assets/Images/background.png");
    background-repeat: repeat;
}

#myName {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color:white;
    background-color: #4aaaa5 ;
}

#pageHeader {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color:#4aaaa5;
}

#myPhoto {
    height:200px;
    width:115px;
}

#portfolioPhoto {
    margin:35px;

    height:350px;
    width:350px;
}

#submit {
    background-color:#4aaaa5;
    color:white;
}

#footGray {
    background-color: #666666;
}

